<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h2>Hello, RIT!</h2>

    <p>All RIT IDs carry a unique university ID. We can <b>safely</b> take advantage of this technology to use it for
      authentication.
      Think about letting your club members check-in with just a swipe; or building a cool system with this RIT ID Auth
      API.</p>

    <br>

    <h3>Security is important</h3>

    <p>The most important thing is to be safe. RIT Student ID numbers are stored in the system only and only
      hashed
      with <a href="https://en.wikipedia.org/wiki/Secure_Hash_Algorithm" target="_blank"> SHA-512</a> - virtually
      impossible to decode in asymptotic linear time.</p>

    <p><a class="btn btn-primary btn-lg" target="_blank"
          href="http://code.tutsplus.com/tutorials/understanding-hash-functions-and-keeping-passwords-safe--net-17577"
          role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <form class="form-horizontal">
    <fieldset>
      <legend>Test the API</legend>
      <div class="form-group">
        <label for="raw_id_input" class="col-lg-2 control-label">RAW ID</label>

        <div class="col-lg-3">
          <input type="text" class="form-control" id="raw_id_input" placeholder="Click here and swipe">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
  <hr>
</div>

<!-- Register -->
<div class="container">
  <!-- Example row of columns -->
  <form class="form-horizontal">
    <fieldset>
      <legend>Register</legend>
      <div class="form-group">
        <label for="fname" class="col-lg-2 control-label">First Name</label>

        <div class="col-lg-3">
          <input type="text" class="form-control" id="fname" placeholder="John">
        </div>
      </div>

      <div class="form-group">
        <label for="lname" class="col-lg-2 control-label">Last Name</label>

        <div class="col-lg-3">
          <input type="text" class="form-control" id="lname" placeholder="Doe">
        </div>
      </div>

      <div class="form-group">
        <label for="rit_username" class="col-lg-2 control-label">RIT username</label>

        <div class="col-lg-3">
          <input type="text" class="form-control" id="rit_username" placeholder="RIT username">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
