<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h2>Hello, RIT!</h2>

    <p>All RIT IDs carry a unique university ID. We can <b>safely</b> take advantage of this technology to use it for
      authentication.
      Think about letting your club members check-in with just a swipe; or building a cool system with this RIT ID Auth
      API.</p>

    <br>

    <h3>Security is important</h3>

    <p>The most important thing is to be safe. RIT Student ID numbers are stored in the system only and only
      hashed
      with <a href="https://en.wikipedia.org/wiki/Secure_Hash_Algorithm" target="_blank"> SHA-512</a> - virtually
      impossible to decode in asymptotic linear time.</p>

    <p><a class="btn btn-primary btn-lg" target="_blank"
          href="http://code.tutsplus.com/tutorials/understanding-hash-functions-and-keeping-passwords-safe--net-17577"
          role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>

  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>

  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>

  <p>Spectacular Test Runner for JavaScript.</p>
</div>
